// TODO
// NEXT
// - Card section mobile layout
// - Card section responsive layout
// BACKLOG
// - Get hero background image to fill under header


// STYLEGUIDE
$col-primary: hsl(322, 100%, 66%)
$col-neutral-dark: hsl(192, 100%, 9%)
$col-neutral-medium: hsl(208, 11%, 55%)
$col-neutral-light: hsl(193, 100%, 96%)

$font-stack-headings: 'Poppins', Helvetica, sans-serif
$font-stack-body: 'Open Sans', Helvetica, sans-serif
$font-weight-regular: 400
$font-weight-bold: 700
$font-weight-headings: 600
$font-base-size-lrg: 18px
$font-base-size-sml: 16px

$card-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1)

/*
 * BASE LAYOUT
 */
*
  box-sizing: border-box
  font-family: $font-stack-body
body
  margin: 0
  font-size: $font-base-size-sml
  text-align: center
  color: $col-neutral-dark
h1, h2, h3, h4, h5, h6
  font-family: $font-stack-headings
  font-weight: $font-weight-headings
h1
  font-size: 1.5em
h2
  font-size: 1.25em
p
  line-height: 1.5
img
  max-width: 100%

// BUTTONS
button
  border-radius: 100px
  border: none
  font-size: 0.8em
  font-weight: $font-weight-headings
  -moz-box-shadow: 0px 2px 8px rgba(0,0,0,0.1)
  -webkit-box-shadow: 0px 2px 8px rgba(0,0,0,0.1)
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1)
.btn-primary
  background: $col-primary
  color: white
.btn-secondary
  background: white
  color: $col-neutral-dark
.btn-sml
  padding: 5px 20px
  font-size: 0.6em
.btn-med
  padding: 12px 60px
.btn-lrg
  padding: 5px 25px

// HEADER
header
  background: $col-neutral-light
.header
  width: 100%
  display: flex
  justify-content: space-between
  align-items: center
  padding: 25px 15px
.header .logo
  height: 16px
section
  padding: 20px
.width--outer
  max-width: 1270px
  margin: 0 auto

// HERO
.hero-section
  background: url("../../assets/bg-hero-mobile.svg") no-repeat $col-neutral-light
  background-size: cover
  padding: 35px
  margin-bottom: 40px
.hero
  max-width: 1230px
  margin: 0 auto
.hero button
  margin-top: 20px
.hero .image
  margin-top: 50px
.h-block
  display: block

// CARDS
.card
  -moz-box-shadow: $card-shadow
  -webkit-box-shadow: $card-shadow
  box-shadow: $card-shadow
  padding: 45px 40px 20px 40px
  border-radius: 20px
  max-width: 1230px
.card .image
  padding: 15px 5px 30px 5px
.card p
  font-size: 0.85em
  line-height: 1.6
  color: $col-neutral-medium


/*
 * MAJOR BREAKPOINT
 * Medium viewports, over 650px wide
 */
@media screen and (min-width: 650px)
  .hero-section
    background: url("../../assets/bg-hero-desktop.svg") no-repeat $col-neutral-light
  .hero, .card
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 20px
    align-items: center
  .text
    text-align: left
  main section:nth-of-type(2n - 1) .card .text
    grid-column: 1 / span 1
    grid-row: 1 / span 1
    max-width: 500px

// Minor breakpoint
// Med-Lrg viewports, over 900px wide
@media screen and (min-width: 900px)
  h2
    font-size: 1.4em
  .header
    padding: 45px 35px 30px 35px
  .header .logo
    height: 26px
  .btn-sml
    padding: 17px 65px
    font-size: 0.75em

/*
 * MAJOR BREAKPOINT
 * Large viewports, over 1140px wide
 */
@media screen and (min-width: 1140px)
  body
    font-size: $font-base-size-lrg
  h1
    font-size: 2.2em
  .header .logo
    height: 32px
  .btn-med
    padding: 20px 70px
  .hero
    grid-template-columns: 1fr 54%
    grid-gap: 40px
  .card
    grid-template-columns: 1fr 45%
    grid-gap: 40px
  .hero .image
    margin-top: 0
  .card
    padding-left: 120px
    text-align: center
  .card .image
    justify-self: start
  .card .image img
    max-width: 410px
  .card p
    font-size: 1em
    line-height: 1.6

// Minor breakpoint
// Adjustments for XL viewports, over 1260px wide
@media screen and (min-width: 1370px)
  .header
    padding-left: 0
    padding-right: 0
